{
  "extends": ["react-app"],
  "rules": {
    "no-console": 1,
    "semi-style": 1,
    "no-unused-vars": 1,
    "implicit-arrow-linebreak": 1,
    "no-shadow": 2,
    "no-use-before-define": 2,
    "no-new": 1,
    "react/destructuring-assignment": 1,
    "react/button-has-type": 1,
    "no-lonely-if": 1
  }
}
